/* Profile Section */
.profile-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px;
  margin-top: 0;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-1-icon {
  width: 60%;
  height: 60%;
}

.yondu-udonta {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.seed {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.seed-icon {
  width: 20px;
  height: 20px;
}

/* Tree Card */
.card-tree {
  width: auto;
  height: 450px;
  border-radius: 20px;
  background-color: #d6d58e;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

/* Study Helper Section */
.study-helper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.slider-container {
  display: flex;
  align-items: center;
  width: 55px;
  gap: 10px;
  font-size: 14px;
  color: #333;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #313131;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* When checkbox is checked, change the background to green */
input:checked + .slider {
  background-color: #4caf50;
}

/* Move the circle to the right when checked */
input:checked + .slider:before {
  transform: translateX(20px);
}
